// Required Bootstrap Imports
// @import "/node_modules/bootstrap/scss/functions";
@import "/node_modules/bootstrap/scss/variables";
// @import "/node_modules/bootstrap/scss/mixins";

// My Customizations

$display1-size: 8rem;
$display1-weight: 700;
$headings-font-family:  europa, Lato, sans-serif;
$lead-font-size: 3rem;
$lead-font-weight: 300;


// custom variable default overrides
@import "/node_modules/bootstrap/scss/type";